*{
    padding: 0;
    margin: 0;
}

.contenedor{
  
    background:rgb(161, 108, 214);
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;

}
p{
    background: white;
    width: 11.7%;
    height: 280px;
    text-align: center;
    font-size: 15px;
    margin: 5px;
    margin-top: 45px;
    border-radius: 10px;
    border-top-width: 10px;
}

.contenedor1{
  

    background: rgb(161, 109, 212);
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    

}

cuadrado{
    background: white;
    width: 21%;
    height: 400px;
    text-align: center;
    font-size: 28px;
    border-radius: 10px;

 
}
cua{
    width: 55.5%;
    height: 400px;
    text-align: center;
    font-size: 28px;
    border-radius: 10px;
}
